BETTER_AUTH_SECRET=93449c6663fcb35482193c3392c2489aa7ebc17e5081f4265e7ef140289806dc
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=psql 'postgresql://neondb_owner:npg_mr4SDgfic5PX@ep-snowy-union-a1o6vrve-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'