apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: todo-phase4
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: frontend